In [15]:
import pandas as pd
df = pd.read_csv(r"swiggy.csv", index_col=False)

In [16]:
df

,id,name,city,rating,rating_count,cost,cuisine,lic_no,link,address,menu
0,567335,AB FOODS POINT,Abohar,--,Too Few Ratings,₹ 200,"Beverages,Pizzas",2.21227E+13,https://www.swiggy.com/restaurants/ab-foods-po...,"AB FOODS POINT, NEAR RISHI NARANG DENTAL CLINI...",Menu/567335.json
1,531342,Janta Sweet House,Abohar,4.4,50+ ratings,₹ 200,"Sweets,Bakery",1.21172E+13,https://www.swiggy.com/restaurants/janta-sweet...,"Janta Sweet House, Bazar No.9, Circullar Road,...",Menu/531342.json
2,158203,theka coffee desi,Abohar,3.8,100+ ratings,₹ 100,Beverages,2.21217E+13,https://www.swiggy.com/restaurants/theka-coffe...,"theka coffee desi, sahtiya sadan road city",Menu/158203.json
3,187912,Singh Hut,Abohar,3.7,20+ ratings,₹ 250,"Fast Food,Indian",2.21197E+13,https://www.swiggy.com/restaurants/singh-hut-n...,"Singh Hut, CIRCULAR ROAD NEAR NEHRU PARK ABOHAR",Menu/187912.json
4,543530,GRILL MASTERS,Abohar,--,Too Few Ratings,₹ 250,"Italian-American,Fast Food",1.21222E+13,https://www.swiggy.com/restaurants/grill-maste...,"GRILL MASTERS, ADA Heights, Abohar - Hanumanga...",Menu/543530.json
...,...,...,...,...,...,...,...,...,...,...,...
148536,553122,The Food Delight,Yavatmal,--,Too Few Ratings,₹ 200,"Fast Food,Snacks",2.15221E+13,https://www.swiggy.com/restaurants/the-food-de...,"The Food Delight, 94MC+X35, New Singhania Naga...",Menu/553122.json
148537,562647,MAITRI FOODS & BEVERAGES,Yavatmal,--,Too Few Ratings,₹ 300,Pizzas,license,https://www.swiggy.com/restaurants/maitri-food...,"MAITRI FOODS & BEVERAGES, POLIC MITRYA SOCIETY...",Menu/562647.json
148538,559435,Cafe Bella Ciao,Yavatmal,--,Too Few Ratings,₹ 300,"Fast Food,Snacks",2.15223E+13,https://www.swiggy.com/restaurants/cafe-bella-...,"Cafe Bella Ciao, SHOP NO 2 NEMANI MARKET SBI S...",Menu/559435.json
148539,418989,GRILL ZILLA,Yavatmal,--,Too Few Ratings,₹ 250,Continental,2.15213E+13,https://www.swiggy.com/restaurants/grill-zilla...,"GRILL ZILLA, SHO NO 2/6, POSTEL GROUND CHOWPAT...",Menu/418989.json
148540,447770,Lazeez kitchen,Yavatmal,--,Too Few Ratings,₹ 200,Pizzas,2.15213E+13,https://www.swiggy.com/restaurants/lazeez-kitc...,"Lazeez kitchen, 94G3+2RR, Wadgaon, Yavatmal, M...",Menu/447770.json

In [17]:
df.isnull().sum()

id                0
name             86
city              0
rating           86
rating_count     86
cost            131
cuisine          99
lic_no          229
link              0
address          86
menu              0
dtype: int64

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148541 entries, 0 to 148540
Data columns (total 11 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   id            148541 non-null  int64
 1   name          148455 non-null  object
 2   city          148541 non-null  object
 3   rating        148455 non-null  object
 4   rating_count  148455 non-null  object
 5   cost          148410 non-null  object
 6   cuisine       148442 non-null  object
 7   lic_no        148312 non-null  object
 8   link          148541 non-null  object
 9   address       148455 non-null  object
 10  menu          148541 non-null  object
dtypes: int64(1), object(10)
memory usage: 12.5+ MB

In [18]:
duplicate_rows = df[df.duplicated()]
print(f"Number of duplicate rows: {duplicate_rows.shape[0]}")

Number of duplicate rows: 0

In [19]:
df.columns

Index(['id', 'name', 'city', 'rating', 'rating_count', 'cost', 'cuisine',
       'lic_no', 'link', 'address', 'menu'],
      dtype='object')

In [20]:
df = df.drop(['link', 'address','menu','lic_no'], axis=1)

In [21]:
df.dropna(subset=['name'],inplace=True)

In [22]:
df

,id,name,city,rating,rating_count,cost,cuisine
0,567335,AB FOODS POINT,Abohar,--,Too Few Ratings,₹ 200,"Beverages,Pizzas"
1,531342,Janta Sweet House,Abohar,4.4,50+ ratings,₹ 200,"Sweets,Bakery"
2,158203,theka coffee desi,Abohar,3.8,100+ ratings,₹ 100,Beverages
3,187912,Singh Hut,Abohar,3.7,20+ ratings,₹ 250,"Fast Food,Indian"
4,543530,GRILL MASTERS,Abohar,--,Too Few Ratings,₹ 250,"Italian-American,Fast Food"
...,...,...,...,...,...,...,...
148536,553122,The Food Delight,Yavatmal,--,Too Few Ratings,₹ 200,"Fast Food,Snacks"
148537,562647,MAITRI FOODS & BEVERAGES,Yavatmal,--,Too Few Ratings,₹ 300,Pizzas
148538,559435,Cafe Bella Ciao,Yavatmal,--,Too Few Ratings,₹ 300,"Fast Food,Snacks"
148539,418989,GRILL ZILLA,Yavatmal,--,Too Few Ratings,₹ 250,Continental
148540,447770,Lazeez kitchen,Yavatmal,--,Too Few Ratings,₹ 200,Pizzas

In [23]:
df.dropna(subset=['cost','cuisine'],inplace=True)

In [24]:
df['rating'].replace(['null', 'Na', 'NA', 'Not available', ''], pd.NA, inplace=True)
df['rating'] = pd.to_numeric(df['rating'], errors='coerce')

df['rating'] = df['rating'].fillna(df.groupby('city')['rating'].transform('mean'))

C:\Users\pavit\AppData\Local\Temp\ipykernel_25592\3755943329.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['rating'].replace(['null', 'Na', 'NA', 'Not available', ''], pd.NA, inplace=True)

In [25]:
df.shape

(148398, 7)

In [26]:

# Replace 'Too Few Ratings' with '10+ ratings'
df['rating_count'] = df['rating_count'].replace('Too Few Ratings', '10+ ratings')

# Fill NaN with '5+ ratings'
df['rating_count'] = df['rating_count'].fillna('5+ ratings')

df['rating_count'] = df['rating_count'].str.replace('+ ratings', '', regex=False).str.strip()

df['rating_count'] = df['rating_count'].apply(
    lambda x: int(float(str(x).replace('K', '')) * 1000) if 'K' in str(x) else x)


df['cost'] = df['cost'].replace('[^0-9]', '', regex=True).astype(int)

In [27]:
df['rating'] = df['rating'].round(1)

In [28]:


# Step 1: Find the most frequent cuisine
most_common_cuisine = df['cuisine'].mode()[0]
print("Most common cuisine:", most_common_cuisine)

# Step 2: Replace entries in cuisine that contain time-like patterns
df['cuisine'] = df['cuisine'].replace(to_replace=r"8:15 to 11:30 PM", value=most_common_cuisine, regex=True)

Most common cuisine: North Indian,Chinese

In [29]:
most_common_cuisine = df['cuisine'].mode()[0]

# Simple function to check if a value looks like a timing (contains ':' and 'AM' or 'PM')
def looks_like_time(x):
    x = str(x).lower()
    return ':' in x and ('am' in x or 'pm' in x)

# Replace timing-like entries with most common cuisine
df['cuisine'] = df['cuisine'].apply(lambda x: most_common_cuisine if looks_like_time(x) else x)

In [30]:


# Convert rating_count to numeric, coerce errors (non-numeric values become NaN)
df['rating_count'] = pd.to_numeric(df['rating_count'], errors='coerce')

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 148398 entries, 0 to 148540
Data columns (total 7 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   id            148398 non-null  int64
 1   name          148398 non-null  object
 2   city          148398 non-null  object
 3   rating        148065 non-null  float64
 4   rating_count  148398 non-null  int64
 5   cost          148398 non-null  int64
 6   cuisine       148398 non-null  object
dtypes: float64(1), int64(3), object(3)
memory usage: 9.1+ MB

In [ ]:
# rating_count-change and ratings word removed from rating_count column
# cost-special char --remove

# cuisine-change
# 8:15 To 11:30 Pm
# In ratings, change the number round off to 1 digit float value

In [32]:


# ✅ Save cleaned data
df.to_csv(r'cleaned_data_final.csv', index=False)

In [33]:
df

,id,name,city,rating,rating_count,cost,cuisine
0,567335,AB FOODS POINT,Abohar,4.1,10,200,"Beverages,Pizzas"
1,531342,Janta Sweet House,Abohar,4.4,50,200,"Sweets,Bakery"
2,158203,theka coffee desi,Abohar,3.8,100,100,Beverages
3,187912,Singh Hut,Abohar,3.7,20,250,"Fast Food,Indian"
4,543530,GRILL MASTERS,Abohar,4.1,10,250,"Italian-American,Fast Food"
...,...,...,...,...,...,...,...
148536,553122,The Food Delight,Yavatmal,3.7,10,200,"Fast Food,Snacks"
148537,562647,MAITRI FOODS & BEVERAGES,Yavatmal,3.7,10,300,Pizzas
148538,559435,Cafe Bella Ciao,Yavatmal,3.7,10,300,"Fast Food,Snacks"
148539,418989,GRILL ZILLA,Yavatmal,3.7,10,250,Continental
148540,447770,Lazeez kitchen,Yavatmal,3.7,10,200,Pizzas

In [34]:
# Fill missing ratings with mean rating
df['rating'].fillna(df['rating'].mean(), inplace=True)

# Fill missing rating_count with mean (convert to int if needed)
df['rating_count'].fillna(df['rating_count'].mean(), inplace=True)

C:\Users\pavit\AppData\Local\Temp\ipykernel_25592\1484117309.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['rating'].fillna(df['rating'].mean(), inplace=True)
C:\Users\pavit\AppData\Local\Temp\ipykernel_25592\1484117309.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['rating_count'].fillna(df['rating_count'].mean(), inplace=True)

In [35]:

df.isnull().sum()
#df.shape

id              0
name            0
city            0
rating          0
rating_count    0
cost            0
cuisine         0
dtype: int64

In [36]:
# Extract part after comma if present, else keep original
df['main_city'] = df['city'].str.split(',').str.get(1).fillna(df['city']).str.strip()

# View result
print(df[['city', 'main_city']].head())

     city main_city
0  Abohar    Abohar
1  Abohar    Abohar
2  Abohar    Abohar
3  Abohar    Abohar
4  Abohar    Abohar

In [37]:
df

,id,name,city,rating,rating_count,cost,cuisine,main_city
0,567335,AB FOODS POINT,Abohar,4.1,10,200,"Beverages,Pizzas",Abohar
1,531342,Janta Sweet House,Abohar,4.4,50,200,"Sweets,Bakery",Abohar
2,158203,theka coffee desi,Abohar,3.8,100,100,Beverages,Abohar
3,187912,Singh Hut,Abohar,3.7,20,250,"Fast Food,Indian",Abohar
4,543530,GRILL MASTERS,Abohar,4.1,10,250,"Italian-American,Fast Food",Abohar
...,...,...,...,...,...,...,...,...
148536,553122,The Food Delight,Yavatmal,3.7,10,200,"Fast Food,Snacks",Yavatmal
148537,562647,MAITRI FOODS & BEVERAGES,Yavatmal,3.7,10,300,Pizzas,Yavatmal
148538,559435,Cafe Bella Ciao,Yavatmal,3.7,10,300,"Fast Food,Snacks",Yavatmal
148539,418989,GRILL ZILLA,Yavatmal,3.7,10,250,Continental,Yavatmal
148540,447770,Lazeez kitchen,Yavatmal,3.7,10,200,Pizzas,Yavatmal

In [38]:
df.to_csv(r'cleaned_data.csv', index=True)

In [39]:

df_new = df.drop(['city','id'],axis = 1)

In [40]:

df_new.to_csv(r'cleaned_data_final.csv', index=True)

In [41]:
df_new['rating'] = pd.to_numeric(df_new['rating'], errors='coerce')
df_new['rating'].fillna(df_new['rating'].mean(), inplace=True)

C:\Users\pavit\AppData\Local\Temp\ipykernel_25592\1983247443.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_new['rating'].fillna(df_new['rating'].mean(), inplace=True)

In [42]:
df_new.isnull().sum()
#df_new.shape

name            0
rating          0
rating_count    0
cost            0
cuisine         0
main_city       0
dtype: int64

In [43]:
df_new

,name,rating,rating_count,cost,cuisine,main_city
0,AB FOODS POINT,4.1,10,200,"Beverages,Pizzas",Abohar
1,Janta Sweet House,4.4,50,200,"Sweets,Bakery",Abohar
2,theka coffee desi,3.8,100,100,Beverages,Abohar
3,Singh Hut,3.7,20,250,"Fast Food,Indian",Abohar
4,GRILL MASTERS,4.1,10,250,"Italian-American,Fast Food",Abohar
...,...,...,...,...,...,...
148536,The Food Delight,3.7,10,200,"Fast Food,Snacks",Yavatmal
148537,MAITRI FOODS & BEVERAGES,3.7,10,300,Pizzas,Yavatmal
148538,Cafe Bella Ciao,3.7,10,300,"Fast Food,Snacks",Yavatmal
148539,GRILL ZILLA,3.7,10,250,Continental,Yavatmal
148540,Lazeez kitchen,3.7,10,200,Pizzas,Yavatmal

In [44]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
import pickle


# Label encode 'name'
le = LabelEncoder()
df_new['name_encoded'] = le.fit_transform(df_new['name'])

encoder = OneHotEncoder(sparse_output=True, handle_unknown='ignore')
encoded_sparse = encoder.fit_transform(df_new[['main_city', 'cuisine']])

# Save encoder
with open('encoder.pkl', 'wb') as f:
    pickle.dump(encoder, f)

# Step 4: Combine numeric features + encoded sparse features
from scipy import sparse

# Drop original categorical cols
df_numeric = df_new.drop(columns=['name', 'main_city', 'cuisine'])

# Combine as sparse matrix
final_sparse_matrix = sparse.hstack([sparse.csr_matrix(df_numeric.values), encoded_sparse])

# Optional: Save the sparse matrix
sparse.save_npz('encoded_data_sparse.npz', final_sparse_matrix)

# If you must save CSV (not ideal for sparse), save just numeric part
df_numeric.to_csv('encoded_data_numeric.csv', index=False)

In [45]:


# Step 1: Load both CSV files
cleaned_df = pd.read_csv(r'C:\Users\pavit\OneDrive\Desktop\Swiggy_Project\cleaned_data_final.csv')
encoded_df = pd.read_csv('encoded_data_numeric.csv')

# Step 2: Compare number of rows
if len(cleaned_df) != len(encoded_df):
    print(f"❌ Row count mismatch: cleaned = {len(cleaned_df)}, encoded = {len(encoded_df)}")
else:
    print(f"✅ Row count matches: {len(cleaned_df)} rows")

# Step 3: Compare indices
cleaned_index = cleaned_df.index
encoded_index = encoded_df.index

if all(cleaned_index == encoded_index):
    print("✅ Indices match between cleaned_data.csv and encoded_data.csv")
else:
    print("❌ Indices do NOT match!")

✅ Row count matches: 148398 rows
✅ Indices match between cleaned_data.csv and encoded_data.csv

In [46]:

import pandas as pd
from sklearn.cluster import KMeans
from sklearn.preprocessing import StandardScaler
import numpy as np

# Load encoded dataset
df_encoded = pd.read_csv("encoded_data_numeric.csv")

# Optional: Normalize/standardize for better clustering
scaler = StandardScaler()
scaled_data = scaler.fit_transform(df_encoded)

# Apply KMeans
kmeans = KMeans(n_clusters=10, random_state=42)
df_encoded['cluster'] = kmeans.fit_predict(scaled_data)

# View example: restaurants in the same cluster as index 100
target_cluster = df_encoded.loc[100, 'cluster']
similar_df = df_encoded[df_encoded['cluster'] == target_cluster]
print(similar_df.head())

    rating  rating_count  cost  name_encoded  cluster
28     4.1            10   300         64978        6
36     4.1            10   250         53354        6
38     4.1           100   150         65495        6
41     4.1            10   200         62410        6
51     4.1            10   400         58399        6

In [47]:
similar_df

        rating  rating_count  cost  name_encoded  cluster
28         4.1            10   300         64978        6
36         4.1            10   250         53354        6
38         4.1           100   150         65495        6
41         4.1            10   200         62410        6
51         4.1            10   400         58399        6
...        ...           ...   ...           ...      ...
148385     3.7            10   120         45532        6
148386     3.7            10   150         56977        6
148392     3.7            10   300         52984        6
148394     3.7            10   300         56559        6
148397     3.7            10   200         54899        6

[33840 rows x 5 columns]

In [48]:

import pickle

# Ensure trained objects exist before saving
save_data = {
    "kmeans": similar_df,  # Your trained K-Means model
    "one_hot_encoder": encoder # One-hot encoder
}

# Save K-Means and Encoders using Pickle
with open("models.pkl", "wb") as f:
    pickle.dump(save_data, f)

print("K-Means & Encoders saved successfully as models.pkl")

K-Means & Encoders saved successfully as models.pkl